@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "View Transaction";
}

<h1 class="display-4">View Cutomer Transction</h1>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Acc No.</th>
                <th>Destination Acc No.</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>Transaction Time</th>
            </tr>
            @foreach (var transaction in Model)
            {
            <tr>
                @{
                string localTime = transaction.TransactionTimeUtc.ToLocalTime().ToString();
                }
                <th>@Html.DisplayFor(x => transaction.TransactionID)</th>
                <th>@Html.DisplayFor(x => transaction.TransactionType)</th>
                <th>@Html.DisplayFor(x => transaction.AccountNumber)</th>
                <th>@Html.DisplayFor(x => transaction.DestinationAccountNumber)</th>
                <th>@Html.DisplayFor(x => transaction.Amount)</th>
                <th>@Html.DisplayFor(x => transaction.Comment)</th>
                <th>@Html.DisplayFor(x => localTime)</th>
            </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}